version: '3.8'

services:
  wiki-sync-service:
    build: .
    container_name: wiki-sync-service
    restart: always
    environment:
      # MinIO configuration
      - STATE_FILE=/app/.synced_files.json
    env_file: ".env"
    volumes:
      # Persist state file
      - ./data:/app/data
      - .synced_files.json:/app/.synced_files.json
    # Uncomment and adjust if you want to override the default command
    # command: python wiki_sync_service.py --interval 600

